<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>냉면에 엽떡 Cinema</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<!-- css -->
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="../css/jcarousel.css" rel="stylesheet" />
	<link href="../css/flexslider.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />

	<!-- Theme skin -->
	<link href="../skins/default.css" rel="stylesheet" />

	<!-- =======================================================
    Theme Name: Moderna
    Theme URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
	======================================================= -->
	<script>
	var bDisplay = true;
        function doDisplay(movie){
            var con = document.getElementById(movie);
            con.style.display = "block";//해당 id를 가진 div 보이기
            var movies = ["all", "inter-conf", "inter-jour", "dom-conf", "dom-jour"];
            for (let i = 0; i < movies.length; i++) {//나머지 모든 div의 내용 숨기기
                if (movies[i]===movie) {
                    continue;
                }
                else{
                    con = document.getElementById(movies[i]);
                    con.style.display = "none";
                }
            }
        }
		</script>

</head>

<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
						<a class="navbar-brand" href="/"><span>냉면에 엽떡 </span>Cinema</a>
					</div>
					<div class="navbar-collapse collapse ">
							<ul class="nav navbar-nav">
									<li ><a href="/">Home</a></li>
									<li class="active"><a href="/movie_info">Movie info & booking</a></li>
									<li><a href="/screen">Screen</a></li>

									<!-- <li><a href="login.html">login</a></li> -->
									<% if(logined) { %>
										<li><a href="/logout">Logout</a></li>
										<li><a href="/mem_info">My page</a></li>
										<li><a>| <%= user_id %> 님, 어서오세요</a></li>
									<% } else { %>
										<li><a href="/login">login</a></li>
									<% } %>
								</ul>
					</div>
				</div>
			</div>
			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li ><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>

								<li class="active">Movie Info</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="content">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class = "movie">
								<li style="list-style: none;" data-id="id-0" data-type="web">
									<div class="item-thumbs1">
										<img src="<%=results[0].mov_img%>" alt=" " width="500" height="200"/>
									</div>
								</li>
								<h4><%=results[0].mov_name%><a href='javascript:doDisplay("all");'><button class="buttonpub" style="vertical-align:middle"><span class="sizedown"><%=results[0].mov_name%> 소개 영상</span></button><br></a></h4>
								<p class="sizedown1">
									<strong ><a href="/ticketing1">상영중</a>&nbsp;&nbsp;&nbsp; <% if(logined) { %>
										<a href="/timetable">[예매하기]</a>
										<% } else { %>
											<a href="/login" onclick="alert('로그인 후 이용하실 수 있습니다.');">[예매하기]</a>
										<% } %>
									</li><br>
									<em><%=results[0].mov_eng_name%></em></strong> <br><br>

									<%=results[0].genre%> |  <%=open_date0%>. 개봉 | <%=results[0].mov_runtime%>분 | <%=results[0].mov_country%> | <%=results[0].mov_rated%> <br>
								</p>

							</div>
						</div>

						<div class="col-lg-5">
							<div class = "movie">

							<li style="list-style: none;" data-id="id-0" data-type="web">
								<div class="item-thumbs1">
									<img src="../img/4.jpg" alt=" " width="500" height="200">
								</div>

						</li>
							<h4><%=results[1].mov_name%><a href='javascript:doDisplay("inter-conf");'><button class="buttonpub" style="vertical-align:middle"><span class="sizedown"><%=results[1].mov_name%> 소개 영상</span></button><br></a></h4>
							<p class="sizedown1">
									<strong><a href="/ticketing1">상영중</a>&nbsp;&nbsp;&nbsp;<% if(logined) { %>
										<a href="/timetable2">[예매하기]</a>
										<% } else { %> <a href="/login">[예매하기]</a>
										<% } %>
										<br><br>

									<em><%=results[1].mov_eng_name%></em></strong> <br><br>

									<%=results[1].genre%> |  <%=open_date1%>. 개봉 | <%=results[1].mov_runtime%>분 | <%=results[1].mov_country%> | <%=results[1].mov_rated%> <br>
								</p>
							</div>
							<br>
						</div>

						<div class="col-lg-5">
							<div class = "movie">

							<li style="list-style: none;" data-id="id-0" data-type="web">
								<div class="item-thumbs1">
									<img src="../img/5.jpg" alt=" " width="500" height="200">
								</div>
							</li>
							<h4><%=results[2].mov_name%><a href='javascript:doDisplay("inter-jour");'><button class="buttonpub" style="vertical-align:middle"><span class="sizedown"><%=results[2].mov_name%> 소개 영상</span></button><br></a></h4>
							<p class="sizedown1">
								<strong><a href="/ticketing1">상영중</a>&nbsp;&nbsp;&nbsp;<% if(logined) { %>
									<a href="/timetable3">[예매하기]</a>
									<% } else { %> <a href="/login">[예매하기]</a>
										<% } %>
										<br><br>
								<em><%=results[2].mov_eng_name%></em> </strong><br><br>

								<%=results[2].genre%> |  <%=open_date2%>. 개봉 | <%=results[2].mov_runtime%>분 | <%=results[2].mov_country%> | <%=results[2].mov_rated%> <br>
							</p>

							</div>
						</div>
						<div class="col-lg-5">
							<div class = "movie">

							<li style="list-style: none;" data-id="id-0" data-type="web">
								<div class="item-thumbs1">

									<img src="../img/6.jpg" alt=" " width="500" height="200">
								</div>
							</li>
							<h4><%=results[3].mov_name%><a href='javascript:doDisplay("dom-conf");'><button class="buttonpub" style="vertical-align:middle"><span class="sizedown"><%=results[3].mov_name%> 소개 영상</span></button><br></a></h4>
							<p class="sizedown1">
								<strong><a href="/ticketing1">상영중</a>&nbsp;&nbsp;&nbsp;<% if(logined) { %>
									<a href="/timetable4">[예매하기]</a>
									<% } else { %> <a href="/login">[예매하기]</a>
										<% } %>
										<br><br>
								<em><%=results[3].mov_eng_name%></em></strong> <br><br>

								<%=results[3].genre%> |  <%=open_date3%>. 개봉 | <%=results[3].mov_runtime%>분 | <%=results[3].mov_country%> | <%=results[3].mov_rated%> <br>
							</p>

							</div>
						</div>
					</div>
					<div class="article" style="padding-left: 40pt; background-color:white;">
						<div id="all" style="display: none">
							<br>
							<h2><%=results[0].mov_name%> 소개영상<span class="sizedown1"> </h2>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/JPEOa01U_Ls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						</div>
						<div id="inter-conf" style="display: none">
							<br>
							<h2><%=results[1].mov_name%> 소개영상  <span class="sizedown1"> </h2>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/eSEs4B4H-EA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div id="inter-jour" style="display: none">
							<br>
							<h2><%=results[2].mov_name%> 소개영상  <span class="sizedown1"> </h2>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/KrM3vS5sy2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div id="dom-conf" style="display: none">
							<br>
							<h2><%=results[3].mov_name%> 소개영상 <span class="sizedown1"> </h2>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/SXMoaC3IJ3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<footer>
					<div class="container">
						<div class="widget">
							<strong><p> Introduction </p> <br><p> 냉면에 엽떡 | 소프트웨어학부 | Database PBL Project </p></strong><br>
							<div class = "left">
								<p>경기도 안산시 상록구 사3동 한양대학로 55 </p>
								<p> 박재현 | 안요한 | 위준범 | 정은지 | 한동연</p>
								<strong><h3>ARS 0000 - 0000</h3></strong>
							</div>
							<div class="container">
								<div class="row">
									<div class="copyright">
										<p>Moderna Theme. All right reserved.</p>
										<div class="credits">
											Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
			<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
			<!-- javascript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="../js/jquery.js"></script>
			<script src="../js/jquery.easing.1.3.js"></script>
			<script src="../js/bootstrap.min.js"></script>
			<script src="../js/jquery.fancybox.pack.js"></script>
			<script src="../js/jquery.fancybox-media.js"></script>
			<script src="../js/google-code-prettify/prettify.js"></script>
			<script src="../js/portfolio/jquery.quicksand.js"></script>
			<script src="../js/portfolio/setting.js"></script>
			<script src="../js/jquery.flexslider.js"></script>
			<script src="../js/animate.js"></script>
			<script src="../js/custom.js"></script>

		</body>
