<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>냉면에 엽떡 Cinema</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<!-- css -->
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="../css/jcarousel.css" rel="stylesheet" />
	<link href="../css/flexslider.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />

	<!-- Theme skin -->
	<link href="../skins/default.css" rel="stylesheet" />

	<!-- =======================================================
    Theme Name: Moderna
    Theme URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
	======================================================= -->

</head>

<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
						<a class="navbar-brand" href="/"><span>냉면에 엽떡 </span>Cinema</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/movie_info">Movie info & booking</a></li>
							<li class="active"><a href="/screen">Screen</a></li>

							<!-- <li><a href="/login">login</a></li> -->
							<% if(logined) { %>
								<li><a href="/mem_info">My page</a></li>
								<li><a href="/logout">Logout</a></li>
								<li><a>| <%= user_id %> 님, 어서오세요</a></li>
							<% } else { %>
								<li><a href="/login">login</a></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
								<li class="active">Screen</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="content">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<article>
								<div class="post-slider">
									<div class="post-heading">
										<h3><a href="/timetable">안산 중앙점</a></h3>
									</div>
									<img src ="../img/ansan.png" height="400px" style="margin-bottom : 20px;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.9695885393676!2d126.8341926670861!3d37.29585458069418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b6ef2f5a7cb73%3A0x26b59cb3d9af4a46!2z7ZWc7JaR64yA7ZWZ6rWQIEVSSUNB7Lqg7Y287Iqk!5e0!3m2!1sko!2skr!4v1575990319829!5m2!1sko!2skr" width="743px" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
								</div>
								<p>
									경기도 안산시 상록구 사3동 한양대학로 55 제 4공학관
								</p>
								<div class="bottom-article">
									<ul class="meta-post">

									</ul>
								</div>
							</article>
							<article>
								<div class="post-slider">
									<div class="post-heading">
										<h3><a href="/timetable">서울 이수점</a></h3>
									</div>
									<img src ="../img/seoul.png" height="300px" style="margin-bottom : 20px;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.9080893108953!2d126.97968731524452!3d37.48649523646586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca1b3e26dcf3d%3A0xa16abe6619550e35!2z7J207IiY7Jet!5e0!3m2!1sko!2skr!4v1575990806775!5m2!1sko!2skr"  width="743px" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
								</div>
								<p>
									서울특별시 동작대로 29길
								</p>
								<div class="bottom-article">
									<ul class="meta-post">

									</ul>
								</div>
							</article>
							<article>
								<div class="post-slider">
									<div class="post-heading">
										<h3><a href="/timetable">경기도 광명점</a></h3>
									</div>
									<img src ="../img/gwang.png" height="400px" style="margin-bottom : 20px;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.870899438244!2d126.88260031524278!3d37.41652624046273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61460d3eb51f%3A0x3642a68a7dfad030!2z6rSR66qF7Jet!5e0!3m2!1sko!2skr!4v1575990851826!5m2!1sko!2skr" width="743px" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
								</div>
								<p>
									경기도 광명시 철산동
								</p>
								<div class="bottom-article">
									<ul class="meta-post">

									</ul>
								</div>
							</article>
						</div>
						<div class="col-lg-4">
							<aside class="right-sidebar">
								<div class="widget"></div>
								<div class="widget">
									<h5 class="widgetheading">Movies</h5>
									<ul class="recent">
										<li>
											<img src="<%=results[0].mov_img%>" class="pull-left" alt="" style="width: 300px; height: 180px;" />
											<h6><a href="/movie_info"><%=results[0].mov_name%></a></h6>
										</li>
										<li>
											<img src="../img/4.jpg" class="pull-left" alt="" style="width: 300px; height: 180px;"/>
											<h6><a href="/movie_info"><%=results[1].mov_name%></a></h6>
										</li>
											<img src="../img/5.jpg" alt="" style="width: 300px; height: 180px;"/>
											<h6><a href="/movie_info"><%=results[2].mov_name%></a></h6>
										<li>
											<img src="../img/6.jpg" class="pull-left" alt="" style="width: 300px; height: 180px;"/>
											<h6><a href="/movie_info"><%=results[3].mov_name%></a></h6>
										</li>
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
		<footer>
			<div class="container">
				<div class="widget">
					<strong><p> Introduction </p> <br><p> 냉면에 엽떡 | 소프트웨어학부 | Database PBL Project </p></strong><br>
					<div class = "left">
						<p>경기도 안산시 상록구 사3동 한양대학로 55 </p>
						<p> 박재현 | 안요한 | 위준범 | 정은지 | 한동연</p>
						<strong><h3>ARS 0000 - 0000</h3></strong>
					</div>
					<div class="container">
						<div class="row">
							<div class="copyright">
								<p>Moderna Theme. All right reserved.</p>
								<div class="credits">
									Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
		<!-- javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../js/jquery.js"></script>
		<script src="../js/jquery.easing.1.3.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/jquery.fancybox.pack.js"></script>
		<script src="../js/jquery.fancybox-media.js"></script>
		<script src="../js/google-code-prettify/prettify.js"></script>
		<script src="../js/portfolio/jquery.quicksand.js"></script>
		<script src="../js/portfolio/setting.js"></script>
		<script src="../js/jquery.flexslider.js"></script>
		<script src="../js/animate.js"></script>
		<script src="../js/custom.js"></script>

	</body>
